* {
  box-sizing: border-box;
}

body {
  background-size: cover;
   background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

textarea{
  resize: none;
  border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
      outline: none;
}

.btt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btt span:after {
  content: '\21BB';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btt:hover span {
  padding-right: 25px;
}

.btt:hover span:after {
  opacity: 1;
  right: 0;
}


.btt {
  background-color: white;
  border: 5cm;
  color: #4C3E79;
  padding: 10px 20px;
  outline: none;
  text-align: center;
  border: 2px solid #4C3E79;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer; 
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
}
.btt:hover{
  color: white;
    background-color: #4C3E79;
    border: 1px solid white;
}

.bttn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bttn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bttn:hover span {
  padding-right: 25px;
}

.bttn:hover span:after {
  opacity: 1;
  right: 0;
}

.bttn {
  background-color: #4C3E79;
  border: 5cm;
  color: white;
  padding: 10px 20px;
  outline: none;
  text-align: center;
  border: 2px solid white;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer; 
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: auto;
  display: flex;
}
.banner{
  flex: 1;
  height: 650px;
  width: 550px;
}  
img{
  max-width: 100%;
  max-height: 100%;
}
.dtls{
  
  flex-grow: 2;
}
.bttn:hover{
    color: #4C3E79;
    background-color: #ffff;
    border: 2px solid #4C3E79;
  }
    
    
    
    .header {
      padding: 0px 0px 40px 0;
    }
    
    .header h2 {
      margin: 0;
      text-align: left;
      color: #4C3E79;
    }
    
    .form {
      padding: 30px 0px 30px 0px;
    }
    
    .form-control {
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
      
    }
    
    .form-control label {
      display: block;
      margin-bottom: 5px;
        color:#222222;
        font-size: large;
        text-align: left;
    }
    .form-control input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
      outline: none;
    }

    .personalDetails{
      display: flex;
      justify-content: space-around;
    }
    .psndtls{
      flex: 2;
      
    }
    .agedtls{
      flex: 1;
    }

    .contact{
      display: flex;
      justify-content: space-between;
    }
    .cntctdtls{
      flex: 2;
    }
    
    .descpt{
      display: flex;
    }

    .private{
      display: flex;
      justify-content: space-between;
    }

    @media screen and (max-width:900px){
  
      .main-contianer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly; 
        
      }
    
    }

   
    
    
    